#ignore private ssh key
\#*#
bashrc
ssh
fonts
config/Thunar
config/dconf
config/evolution
config/libreoffice
config/pulse
config/xfce4
config/smplayer
config/viewnior
config/deluge
config/pcmanfm
config/ranger/bookmarks
config/ranger/history
config/Cutegram
config/manjaro
config/nemo
config/Mousepad
config/enchant
config/gtk-2.0
pyenv-installer*
config/pavucontrol.ini
lsyncd/log
bin/zathura_sync.sh
config/teams/
config/transmission/
config/Nextcloud/
config/Microsoft/
config/NVIDIA Corporation/
doom.d/config.el
doom.d/config.emacs-lip
doom.d/config.emas-lisp
doom.d/config.html
doom.d/custom.el
local/share
local/state
local/share/lf/history
