/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */
@import "colors.css";

@keyframes blink-warning {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @warning_color;
    }
}

@keyframes blink-critical {
    70% {
        color: @wm_icon_bg;
    }

    to {
        color: @wm_icon_bg;
        background-color: @error_color;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "JetBrainsMono Nerd Font", "Roboto Mono", sans-serif;
    font-size: 18px;
}

/* The whole bar */
window#waybar {
	background-color: transparent;
}
window#waybar:first-child > box {
    background-color: @base00;
    color: #f8f8f2;

}

/* Each module */
#custom-pacman,
#custom-menu,
#custom-help,
#custom-scratchpad,
#custom-github,
#custom-clipboard,
#custom-zeit,
#custom-dnd,
#bluetooth,
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#idle_inhibitor,
#backlight,
#language,
#custom-adaptive-light,
#custom-sunset,
#custom-playerctl,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */


#custom-scratchpad,
#custom-menu,
#workspaces button.focused,
#clock {
    color: @base00;
    background-color: @base0D;
    border-radius: 8px;
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: @base05;
}

#workspaces button.urgent {
    border-color: @base08;
    color: @base08;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @base02;
    border-radius: 8px;
}

#custom-zeit.tracking {
    background-color: @base0B;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: @warning_color;
}

#battery.critical {
    color: @error_color;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu.warning {
    color: @warning_color;
}

#cpu.critical {
    color: @error_color;
}

#custom-menu {
    padding-left: 8px;
    padding-right: 13px;
    margin: 0 5px;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @base0B;
}

#memory.critical {
    color: @base08;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @base00;
}

#network.disconnected {
    color: @base0B;
}

#pulseaudio.muted {
    color: @base0B;
}

#temperature.critical {
    color: @base08;
}


#custom-pacman {
    color: @base0B;
}

#bluetooth.disabled {
    color: @base0B;
}

#custom-wf-recorder {
    color: @base08;
    padding-right: 10px;
}
